/*.pem
/*.json
/*.csv
/*.sqlite3
/dropbear
/smm
/statusz
/log
/json/alpaca
/json/coinbase
/cmd/dropbear/dropbear
/cmd/smm/smm
/cancelall
/coinlots
/coinfees
/profitability
/resync
/balance
/liquidate
/*.coinbase
/*.binance
/sniper
/rolly
/dumptick
/spread
/chart
/mm
